{% extends "base.html" %}

{% block footer %}

<hr/>

<div class="footer pull-left">
        <div>
                <p>
                        <small><a href="https://de.dariah.eu/impressum" style="margin-right:15px;">Impressum</a>
                        <a href="https://de.dariah.eu/datenschutz" style="margin-right:15px;">Datenschutz</a>
                        <a href="https://de.dariah.eu/kontakt" style="margin-right:15px;">Kontakt</a>
                        <a href="https://creativecommons.org/licenses/by/4.0">CC-BY-4.0</a></small>
                </p>
                <p>
                        <a href="https://de.dariah.eu">
                                DARIAH-DE<br/>
                                <small>Digital Research Infrastructure for the Arts and Humanities</small>
                        </a>
                </small></p>
        </div>
</div>
<div class="footer pull-right">
        <a href="https://de.dariah.eu" target="_blank">
                <img alt="DARIAH-DE Logo" src="https://res.de.dariah.eu/logos/dariah-de/dariah-de_cmyk.svg" style="height:40px!important;margin-right:20px;filter:grayscale(100%);">
        </a>
        <a href="https://forschungsinfrastrukturen.de/" target="_blank">
                <img alt="GKFI Logo" src="https://res.de.dariah.eu/logos/gfki/GKFI-Logo.png" style="height:40px!important;margin-right:20px;filter:grayscale(100%);">
        </a>
        <a href="https://text-plus.org/" target="_blank">
                <img alt="Textplus Logo" src="https://res.de.dariah.eu/logos/textplus/textplus_logo_RGB.svg" style="height:40px!important;margin-right:20px;filter:grayscale(100%);img:hover{filter:grayscale(0)!important;transition-duration:0.3s;transition-timing-function:linear;}">
        </a>
        <a href="https://doi.org/10.34894/SGNHLL" target="_blank">
            <img alt="CoreTrustSeal Logo" src="https://res.de.dariah.eu/logos/coretrustseal/cts-logo-transparent.png" style="height:40px!important;filter:grayscale(100%);">
        </a>
</div>

{% endblock %}
