@import url("./css/theme.css"); 

.wy-side-nav-search {
    background-color:#CCCCCC;
}
.wy-dropdown > a {
    color:#222222;
}
.wy-side-nav-search > a,
.wy-side-nav-search .wy-dropdown > a,
.wy-side-nav-search > div.version {
    color:#222222;
}

/* i don t want to read gray on silver */
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background: #E0E0E0;
}
.wy-nav-content-wrap {
    background: #FCFCFC;
}
.wy-menu-vertical li.current a {
    color: black;
}
.footer img:hover {
    filter: grayscale(0) !important;
}
